{
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "react/no-unescaped-entities": "warn",
    "jsx-a11y/alt-text": "warn",
    "react/no-children-prop": "warn",
    "react-hooks/rules-of-hooks": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-no-undef": "warn"
  }
}
