PORT=5000
MONGO_URI=mongodb://localhost:2717/lms_db
JWT_SECRET=yoursecretkeyhere
SKIP_EMAIL_VERIFICATION=true

# Email Config
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=youruser
EMAIL_PASS=yourpass
