.header--inView {
  position: fixed;
  top: 0;
  z-index: 100;
  opacity: 0;

  animation: header 0.5s forwards;
}

.layout {
  transition: 0.2s ease-in;

  &--shrink {
    transform: scale(0.98) translate(-2.5px, 2.5px);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  }

  &--scale {
    transform: scale(1);
  }
}

@keyframes header {
  to {
    opacity: 1;
  }
}











.sliders{
    height: 300px;
    background: #ccc;
    width: 100%;
    overflow: hidden;
    .contents {
      width: 100%;
      font-size: 20px;
      transition: all 0.3s ease-in;
      display: flex;

    }
    .btn {
      position: relative;
      z-index: 10;
      width: 20px;
      height: 20px;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      float: left;
      transform: translateY(-50%);
      border-radius: 50%;
      color: #ccc;
      cursor: pointer;
      font-weight: bold;
      background: rgba(255, 255, 255, 0.5);
      margin: 0 0.5em;
      user-select: none;
      margin-top: -20px;
      &:hover {
        background: rgba(255, 255, 255, 0.9);
      }
    }

  }